/* GENERAL */


h1, h2 {
    color: white
}

form {
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color: #645a5a;
}

main {
    background-color: #645a5a;
}

main table {
    font-family: 'Bree Serif', serif;
}


.container {
    padding: 10px;
}

.footer {
    background-color: #cec0c0;
    color: black;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: #cec0c0;
    }


/*LOGIN FORM*/

.register-link
{
    color: rgb(121, 178, 236);
}

/* HABIT FORM */

#habform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#habform form{
    color: white;
    }

/* HABIT TABLE */

#habtable {
    max-height: 300px;
    overflow-y: auto;
    
}

#habtable table {
    width: 100%;
    height:100%;
    border-collapse: collapse;
}

#habtable thead th {
    position: sticky;
    background-color: rgba(148, 123, 12, 1);
    top: 0;
    opacity:1;
    z-index: 2;
  
}

#habtable tbody tr{
    z-index: 1;
}



/* EDIT HABIT FORM */

#edit-habit form {
    color: white;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px)
{
    #habtable {
        max-height: 375px;
        overflow-y: auto;
        
    }

    #habtable table {
        width: 100%;
        height:100%;
        border-collapse: collapse;
    }
}