{%extends 'base.html'%}
{%block content%}


<!--habit entry form-->
<h1>{{user_name}}'s Habits List</h1>

<section id="habform">
<div class ="container mb-1">
 <h2>Add Habit</h2>
 <div class="row">   
 <div class="col-12">   
 
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Habit</button>
    </form>
 </div>
 </div>
    </section>


<!--habit list-->

<section>
<div class="container">
    <h2>Current Habits</h2>
<div class="row"  id="habtable">
<div class="col-12">
    <table class="table">
        <thead>
            <tr>
               <!-- <th>Name</th> -->
                <th>Description</th>
                <th>Frequency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for habit in habit_list %}
            <tr>
               <!-- <td>{{ habit.name }}</td> -->
                <td>{{ habit.description }}</td>
                <td>{{ habit.frequency }}</td>
                <td>
                    <a href="{% url 'habit_update' habit.pk %}" class="btn btn-primary" title="Edit Habit"><i class="fa-solid fa-file-pen"></i></a>
                    <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="habit_id" value="{{ habit.id }}">
                        <button type="submit" name="complete" class="btn btn-success" title="Mark Complete" {% if habit.completion_date == today %}disabled{% endif %}><i class="fa-solid fa-check"></i></button>
                    </form>
                    
                    <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="habit_id" value="{{ habit.id }}">
                        <button type="submit" name="delete" class="btn btn-danger" title="Delete Habit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  </div>
</div>
    </section>
</div>


{%endblock%}