{%extends 'base.html'%}
{%block content%}
 <h1>Habits list</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Habit</button>
    </form>

<div id="habtable">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Frequency</th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for habit in habit_list %}
            <tr>
                <td>{{ habit.name }}</td>
                <td>{{ habit.description }}</td>
                <td>{{ habit.frequency }}</td>
                <td>{{ habit.user }}</td>
                <td>
                    <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="habit_id" value="{{ habit.id }}">
                        <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                    </form>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>



{%endblock%}