/* GENERAL */


body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

main {
    background-color: #645a5a;
}

main table {
    font-family: 'Bree Serif', serif;
}

h1, h2 {
    color: white
}

.container {
    padding: 10px;
}

.footer {
    background-color: #cec0c0;
    color: black;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: #cec0c0;
    }

/* HABIT FORM */

#habform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#habform form{
    color: white;
    }

/* HABIT TABLE */

#habtable {
    max-height: 175px;
    overflow-y: auto;
    
}

#habtable table {
    width: 100%;
    border-collapse: collapse;
}

#habtable thead th {
    position: sticky;
    background-color: rgba(148, 123, 12, 1);
    top: 0;
    opacity:1;
  
}



/* EDIT HABIT FORM */

#edit-habit form {
    color: white;
}