/*GENERAL*/

h1, h2, p {font-weight: bold;}

/* HABIT TABLE */

#habtable {
    max-height: 100px;
    overflow-y: auto;
}
#habtable table {
    width: 100%;
    border-collapse: collapse;
}

#habtable thead th {
    position: sticky;
    top: 0;
    background: rgb(115, 79, 79);
    z-index: 1;
}